# Explore Weather Trends
## Summary
Analyzing local and global temperature data and compare the temperature trends in Alexandria (EG) to overall global temperature trends.

## Importing Libraries

In [19]:
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import psycopg2

## Jupyter Magic Settings

In [32]:
%matplotlib inline
# Control the default size of figures
#%pylab inline
#pylab.rcParams['figure.figsize'] = (20, 9)   # Change the size of plots

In [28]:
postgres_engine = create_engine('postgresql+psycopg2://postgres:100100@localhost:5432/weather')

In [29]:
%reload_ext sql_magic
%config SQL.conn_name = 'postgres_engine'

In [30]:
%%read_sql
SELECT *
FROM local
LIMIT 10;

Query started at 04:35:47 AM Egypt Standard Time; Query executed in 0.01 m

   year        city country  avg_temp
0  1791  Alexandria   Egypt     22.60
1  1792  Alexandria   Egypt     20.17
2  1793  Alexandria   Egypt     19.94
3  1794  Alexandria   Egypt     20.31
4  1795  Alexandria   Egypt     20.22
5  1796  Alexandria   Egypt     20.39
6  1797  Alexandria   Egypt     20.48
7  1798  Alexandria   Egypt     20.67
8  1799  Alexandria   Egypt     20.66
9  1800  Alexandria   Egypt     20.52

In [ ]:
%%read_sql
SELECT l.year,
        AVG(l.avg_temp) OVER (ORDER BY l.year ROWS BETWEEN 9 PRECEDING AND CURRENT ROW) AS localMA10,
        AVG(g.avg_temp) OVER (ORDER BY g.year ROWS BETWEEN 9 PRECEDING AND CURRENT ROW) AS globalMA10
FROM local AS l
JOIN global AS g
ON l.year = g.year;